<div class="col-md-12">
    <div class="card review-container light-white">
        <div class="card-body img-body col-md-3">
            <img class="card-img-top border" src="{{bookInfo.volumeInfo.imageLinks.thumbnail}}" alt="{{bookInfo.volumeInfo.title}}" onerror="this.src='../images/default_book_cover.jpg';"/>
        </div>
        <div class="card-body col-md-9 row">
            <div>
                <p class="h4 card-title">
                    {{bookInfo.volumeInfo.title}}
                </p>
                {{#each bookInfo.volumeInfo.authors}}
                    <p class="h6 card-title">
                        {{this}}
                    </p>
                {{/each}}
            </div>
            <p>{{{bookInfo.volumeInfo.description}}}</p>      
            <button type="button" class="btn grey btn-review" data-toggle="modal" data-target="#{{bookInfo.id}}">
                    Review
            </button>
        </div>
            
    </div>
</div>


{{!-- <h2>{{bookInfo.volumeInfo.title}}</h2>

<img class="card-img-top" src="{{bookInfo.volumeInfo.imageLinks.thumbnail}}" alt="{{bookInfo.volumeInfo.title}}" onerror="this.src='../images/default_book_cover.jpg';"/>

<ul>
    {{#each bookInfo.volumeInfo.authors}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<p>{{{bookInfo.volumeInfo.description}}}</p>

{{!-- {{#isReviewed }} --}}
{{!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{bookInfo.id}}">
        Review
</button> --}} 

<div class="card review-container row gx-0 light-white">
    <span class="h3 gx-5">This is what users say about this book:</span>
</div>



{{#each bookInDB.reviews}}
    <div class="col-md-12">
        <div class="card review-container light-white">
            <div class="card-body row">
                <div>
                    <p class="h4 card-title">
                        {{this.owner}}
                    </p>
                    <p class="h6">{{this.comment}}</p>
                </div>
                <p class="h5">Rating: {{this.rating}}</p>       
            </div>
        </div>
    </div>
{{/each}}



 <!-- Modal -->
<div class="modal fade black" id="{{bookInfo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Review "{{bookInfo.volumeInfo.title}}"</h5>
        </div>
        <div class="modal-body">
            <form id="myForm1" method="POST" action="review/{{bookInfo.id}}">
                <div class="form-group mb-3">
                    <label class="form-label">Review</label>
                    <textarea rows="5" class="form-control" type="text" name="review"></textarea> 
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Rate</label>
                    <input class="form-control" type="number" name="rating" min="0" max="10" required/>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey" data-dismiss="modal">Close</button>
            <button form="myForm1" type="submit" class="btn light-blue text-light">Submit review</button>          
        </div>
        </div>
    </div>
</div>