<h2>{{volumeInfo.title}}</h2>

<img class="card-img-top" src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="{{this.volumeInfo.title}}" onerror="this.src='../images/default_book_cover.jpg';"/>

<ul>
    {{#each volumeInfo.authors}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<p>{{{volumeInfo.description}}}</p>