{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="input-field">
    <form action="/books/search" method="GET">
        <div class="form-group row">
            <div class="col-10">
                <input class="form-control form-control" type="text" name="title" id="title"/>
            </div>
            <button id="search-button" class="btn light-blue text-light col-2" type="submit">SEARCH</button>
        </div>
    </form>
</div>

<div class="row">
    {{#each bestBooks}}
        <div class="col-md-3 ">
            <div class="card book-container">
                <div class="card-body img-body">
                    
                <img class="card-img-top" src="{{this.cover}}" alt="{{this.title}}" onerror="this.src='../images/default_book_cover.jpg';"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{this.title}}
                    </h5>
                    <p>{{this.authors.[0]}}</p>
                    <p>Rating: {{this.rating}}</p>
                    <a class="btn light-blue active text-light" href="/books/{{this.idApi}}">
                        View book
                    </a>
                </div>
            </div>
        </div>
    {{/each}}
</div>